#calendar {
    position: relative;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 60px repeat(12, 1fr);
    grid-template-rows: 40px repeat(31, 1fr);
    height: 620px;
    border: 1px solid #ccc;
}

.cell {
    border: 1px solid #eee;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.month-column {
    position: relative;
    grid-row: 2 / span 31;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;

    background-image:
    repeating-linear-gradient(
            to bottom,
            rgba(0,0,0,0.02),
            rgba(0,0,0,0.02) calc(100% / 62),
            transparent calc(100% / 62),
            transparent calc(100% / 31)
    ),
    repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc((100% / 31) - 1px),
        #f3f3f3 calc((100% / 31) - 1px),
        #f3f3f3 calc(100% / 31)
    );
}

.month-column:hover {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.08);
}

.day-line {
    height: 1fr;
}
        
.vacation-bar {
    position: absolute;
    width: 10px;
    border-radius: 4px;
}
.calendar-hover-line {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
    display: none;
}

#employee-panel {
    margin: 15px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.employee-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}
